#root {
  margin: 10px;
  padding: 2rem;
  text-align: center;
}


/* Estilos para SweetAlert */
.message-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.custom-title {
  font-size: 24px; 
  font-weight: bold;
}

#gifanimado {
  width: 120px; 
}

.message-container p {
  margin-top: 10px;
}






